[submodule "lib/modules/core"]
	path = lib/modules/core
	url = https://github.com/OCG-labs/core-module.git
[submodule "lib/modules/bootstrap"]
	path = lib/modules/bootstrap
	url = https://github.com/OCG-labs/bootstrap-module.git
